












@include bkg-img-transition("doodles.png","doodles.png");











a {
  font-family: "Segoe UI", "Courier New", monospace;
}
h2{
	text-align: center;
	color = blue;
}
.button {
  width : 16%;
  border-radius: 8px;
  font-family: "Segoe UI", "Courier New", monospace;
  background-image:linear-gradient(150deg,#20bf55 0%, #01baef 50%);
  border:0.005px solid gray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 6px;
  cursor: pointer;
}





.sticky{
	
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  border: 0.5px solid lightgray;
  padding: 5px;
  font-size: 20px;

}




button:hover{
	color:#707070;
	background-image:linear-gradient(150deg,#80ff72 0%, #7ee8fa 50%);}


.button2 {
  width : 12%;
  border-radius: 8px;
  font-family: "Segoe UI", "Courier New", monospace;
  background-image:linear-gradient(150deg,#20bf55 0%, #01baef 50%);
  border:0.005px solid gray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 6px;
  cursor: pointer;
}

.ask_now {
  width : 10%;
  border-radius: 8px;
  font-family: "Segoe UI", "Courier New", monospace;
  /*background-color: #2f66ff;
  border: 2px  white;*/
  background-image:linear-gradient(150deg,#20bf55 0%, #01baef 50%);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 4px;
  cursor: pointer;
}


.bkg{
	background-image:linear-gradient(150deg,#fcd181 0%, #e79087 50%);
}



body{
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)),url('doodles.png');
    background-size: 30%;
    background-repeat:repeat;
    
    background-attachment: fixed;
    height: 100vh;
    padding:0;
    margin:0;
}














.search-container button {
  float: right;
  padding: 4px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-family: "Segoe UI", "Courier New", monospace;
}

input[type=text] {
    border: 1px solid #ccc;
  }
}

.search-container {
  float: right;
  font-family: "Segoe UI", "Courier New", monospace;
}

input[type=text] {
  padding: 4px;
  margin-top: 8px;
  font-size: 15px;
  border: none;
  font-family: "Segoe UI", "Courier New", monospace;
  
}









.box {
	background-color: #ffffff;
  width: 600px;
  
  border: 1px solid #707070;
  padding: 28px;
  margin: 15px;
  float:right;
}

.box1 {
	background-color: transparent;
  width: 600px;
  
  border: 1px solid lightgray;
  padding: 28px;
  margin: 15px;
  float:left;
}









@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}


#nav {
	text-align:center;
	display: inline-block;ss
}












.submit {
  width : 50%;
  border-radius: 8px;
  font-family: "Segoe UI", "Courier New", monospace;
  background-color: #2f66ff;
  border: 2px solid #2f66ff;
  color: white;
  padding: 5px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 4px;
  cursor: pointer;
}




.heading {
	float: right;
	font-size = 280 px;
	
}






.box2 {
  COLOR:SOLID gray;
  border-radius: 5px;
  border: 0.5px solid lightgray;
  padding: 10px;
  margin: 5px;
}




.hd{
font-size: 40px;}















.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  color:green;
}

.fa:hover {
  color: darkblue;
}